extends layout

block content
  h1 Enter an Album
  br
  form(role='form')
    .form-group
      label(for='album') Album Name:
      input#album.form-control(type='text', placeholder='Classics')
    .form-group
      input#create-item-btn(type='submit', value='Create')


block scripts
  script(src='/js/addAlbum.js')