extends layout

block content
  .text-center
    h2 Album List
  br
  .form
    | Add Album
    br
    | name:&nbsp;&nbsp;
    input#name(type="text")
    | &nbsp;&nbsp;description:
    input#description(type='text')
    | &nbsp;&nbsp;
    a.btn.btn-success.saveIt(href='#') Save
    br
    | &nbsp;
  div.container
    table.table.table-striped.table-hover
      thead.thead-inverse
        tr
          //td.photo-col.col-md-4.col-md-4  Photo
          th.name-col.col-md-2.col-md-2 Name
          th.description-col.col-md-6.col-md-6 Description
          th.space1.col-md-1.col-md-4 &nbsp;
      tbody.items-list#list
      tfoot
        tr#template.hidden.row-container
          //td.photo-col.col-md-4.col-md-4
          td.name-col.col-md-2.col-md-2
          td.description-col.col-md-6.col-md-6
          td.space1.col-md-1.col-md-1 &nbsp;
          td.delete.col-md-1.col-md-1.btn-danger.btn-rounded.delete Delete
          td.space2.col-md-1.col-md-1 &nbsp;
          td.view.col-md-1.col-md-1.btn-info.btn-rounded.view View
block scripts
  script(src="/js/albumsList.js")